.logo-long {
  width: 30%;
  height: auto;
}

.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 2vw;
  padding-right: 5vw;
  height: 100vh;
}

.right-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;

}

.email-form {
  margin-top: 1.5rem;
  display: flex;
  justify-content: stretch;
}

.email-input {
  width: 40%;
  padding: 12px;
  font-size: 12px;
  border-radius: 10px 0 0 10px;
  border-style: none;
  margin: 0%;
}

.submit-button {
  margin-left: 0.5rem;
  padding: 12px;
  font-size: 12px;
  background-color: #000091;
  color: #fff;
  border-radius: 0 10px 10px 0;
  border-style: none;
  margin: 0%;
}

.image-placeholder {
  width: 80%;
  height: 40vh;
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-image {
  width: 120%;
  height: auto;

}
